.filtersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.inputSearch {
    margin-right: 20px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.filtersButtonsContainer {
    margin-top: 10px;
}

.filterButton {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-right: 10px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    font-size: 80px;
}